* {

}



body {
	background: #d2d2d2c1 url('imagens/fundo.png');
	font: 16px Arial, helvetica, sans-serif;
}

#principal {
	width: 900px;
}

.conteudo {
	background-color: #FAE6D7;
}

p {
	margin 2px;
	font-family: FreeMono, monospace;
}
.titulos {
	color: #FABC8C;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

.links {
	text-decoration: none;
	color: #FABC8C;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	font-size: 1.5em;
}

img {
	border: solid;
	border-width: 10px;
	border-color: #FABC8C;
	border-radius: 10px;
	margin: 2px;
}

footer {
	text-align: center;
}